:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --white: #fff;
  --hover: #fcf1e0;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* ------------header--------------------- */
.header {
}
.header-nav {
}
.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
}
.header-list {
}
.header-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
}
.header-item:hover,
.header-item:focus {
  color: var(--orange);
}
/* --------------hero-------------------- */

.hero {
  background-color: var(--violet);
  padding-top: 60px;
  padding-bottom: 60px;
  text-align: center;
}
.hero-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-box {
}
.hero-btn {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  background-color: var(--orange);
  border-radius: 100px;
  padding: 14px 40px;
}
.hero-btn:hover,
.hero-btn:focus {
  color: var(--orange);
  background-color: var(--hover);
}
.hero-list {
}
.hero-link-border {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 100px;
  padding: 14px 40px;
}
.hero-link-border:hover,
.hero-link-border:focus {
  color: var(--orange);
  background-color: var(--hover);
  border-color: var(--orange);
  background-color: var(--white);
}
.hero-link-scroll {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white);
}
/* --------------ADVANTEGES-------------------- */
.advantages {
}
.visually-hidden {
}
.advantages-list {
}
.advantages-item {
}
.advantages-title {
  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
/* --------------PRODUCTS-------------------- */
.products {
}
.products-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.produts-span {
  color: var(--orange);
}
.products-text {
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}
.products-list {
}
.products-item {
  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
}
.products-item-text {
}
/* --------------STEPS-------------------- */
.steps {
}
.steps-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.steps-span {
  color: var(--orange);
}

.steps-subtitle {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
}
.steps-list {
}
.steps-item {
}
.review-card-title {
}
.steps-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
}
/* --------------REVIES-------------------- */
.reviews {
}
.reviews-title {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.reviews-span {
  color: var(--orange);
}
.reviews-list {
}
.reviews-item {
}
.reviews-card-title {
  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--black);
}
.reviews-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews-btn {
  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  border: 1px solid var(--orange);
  border-radius: 100px;
  padding: 14px 40px;
  width: 222px;
  height: 50px;
}
.reviews-btn:hover,
.reviews-btn:focus {
  background-color: var(--orange);
  color: var(--white);
}
/* --------------FOOTER-------------------- */
.footer {
  background-color: #3f3b3b;
}
.footer-title {
  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: var(--white);
}
.footer-span {
  color: var(--orange);
}
.footer-text {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  text-align: center;
  color: var(--white);
}
.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--orange);
}
.footer-nav {
}
.footer-list {
}
.footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
}
.footer-item:hover,
.footer-item:focus {
  color: var(--orange);
}
