:root {
  --black: #111;
  --orange: #fd9222;
  --violet: #1e1823;
  --white: #fff;
  --hover: #fcf1e0;
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
.page-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
.container {
  width: 375px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
  /* outline: 2px solid red; */
}
.btn {
  cursor: pointer;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 100px;
  border: 1px solid transparent;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--black);
}

a {
  text-decoration: none;
  color: currentColor;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* ------------header--------------------- */
.header {
}
.header-nav {
  margin-bottom: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .container {
  margin-bottom: 0;
}
.header-logo {
  font-style: italic;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: var(--black);
  display: flex;
  align-items: center;
  gap: 4px;
}

.header-list {
  display: flex;
  gap: 24px;
}

.header-item {
  padding-top: 28px;
  padding-bottom: 28px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--black);
  cursor: pointer;
  transition: color 250ms ease-in-out;
}
.header-item:hover,
.header-item:focus {
  color: var(--orange);
}
.header-link {
  padding-bottom: 28px;
  padding-top: 28px;
}
.header-link:hover .header-soc-icon,
.header-link:focus .header-soc-icon {
  stroke: var(--orange);
  /* fill: #392222; */
}

.header-link:nth-child(1) {
  margin-right: 18px;
}
.header-soc-icon {
  stroke: var(--black);
  fill: var(--white);
  transition: stroke 250ms ease-in-out;
}
/* --------------hero-------------------- */

.hero {
  height: 600px;
  padding-top: 380px;
  padding-bottom: 40px;
  border-radius: 30px;
  margin-bottom: 72px;

  background-color: #392222;
  background-image: linear-gradient(
      to bottom,
      rgba(30, 24, 35, 0.4),
      rgba(30, 24, 35, 0.4)
    ),
    url(../images/chocolate.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;

  background-color: var(--violet);
}
.hero .container {
  width: 1186px;
  padding-left: 15px;
  padding-right: 15px;
}
.hero-title {
  max-width: 484px;
  margin-bottom: 32px;

  font-weight: 500;
  font-size: 28px;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: var(--white);
}
.hero-box {
  display: flex;
  align-items: center;
}

.hero .btn {
  padding: 14px 40px;
  margin-bottom: 0;
  margin-right: 14px;

  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  background-color: var(--orange);
  transition: color 250ms ease-in-out;
  transition: background-color 250ms ease-in-out;
}
.hero .btn:hover,
.hero .btn:focus {
  color: var(--orange);
  background-color: var(--hover);
}

.hero-link-border {
  padding: 14px 40px;

  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  border: 1px solid var(--white);
  border-radius: 100px;
  transition: 250ms ease-in-out;
}

.hero-link-border:hover,
.hero-link-border:focus {
  color: var(--orange);
  background-color: var(--hover);
  border-color: var(--orange);
  background-color: var(--white);
}
.hero-link-scroll {
  display: flex;
  align-items: center;
  gap: 14px;
  margin-left: auto;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.03em;
  color: var(--white);
}
.scroll-icon {
  display: flex;
  align-items: center;
  justify-content: center;

  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: var(--white);
  padding: 8px;
}
.icon-icon {
  fill: var(--orange);
}
.hero-link-scroll:hover .scroll-icon,
.hero-link-scroll:focus .scroll-icon {
  transform: rotate(-90deg);
  background-color: var(--hover);
  transition: 0.3s ease;
}
.hero-link-scroll:hover,
.hero-link-scroll:focus {
  color: var(--orange);
  transition: color 0.9s ease;
}
/* --------------ADVANTEGES-------------------- */
.advantages {
  background-color: var(--violet);
}
.advantages .container {
  margin-bottom: 0;
}
.advantages-list {
  display: flex;
  flex-wrap: wrap;
}
.advantages-item {
  width: 100%;
  margin-bottom: 20px;
  padding-right: 28px;
}
.advantages-title {
  margin-bottom: 18px;

  font-weight: 600;
  font-size: 18px;
  color: var(--white);
}
.advantages-text {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}
.advantages-icon {
  width: 62px;
  height: 62px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  margin-bottom: 22px;
}

/* --------------PRODUCTS-------------------- */
.products {
  /* padding-top: 100px;
  padding-bottom: 50px; */
  padding: 60px 20px 30px 20px;
  margin-right: auto;
  margin-left: auto;
}
.products-title {
  max-width: 283px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 28px; */
  margin-bottom: 24px;

  font-weight: 600;
  /* font-size: 24px; */
  font-size: 20px;
  /* line-height: 1.16; */
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}
.products-span {
  color: var(--orange);
}
.products-text {
  max-width: 486px;
  margin-left: auto;
  margin-right: auto;
  /* margin-bottom: 50px; */
  margin-bottom: 32px;

  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--black);
}
.products-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  gap: 20px;
}
.products-item {
  padding: 28px 56px;
  width: 100%;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-transform: uppercase;
  color: var(--black);
  border: 1px solid var(--black);
  border-radius: 15px;
  position: relative;
  overflow: hidden;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 0.3s ease;
  overflow: auto;
}
.overlay-title {
  font-weight: 600;
  font-size: 18px;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 8px;
  max-width: 180px;
}
.product-overlay-button {
  padding: 6px 16px;
  margin-bottom: 16px;
  border: 1px solid var(--orange);
  border-radius: 35px;
  font-weight: 400;
  font-size: 10px;
  line-height: 1.2;
  color: var(--black);
  background-color: #fafafa;
}
.product-overlay-button:hover,
.product-overlay-button:focus {
  background-color: var(--orange);
  color: var(--white);
  transition: 250ms ease-in-out;
}
.overlay-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
}
.products-item:hover .overlay {
  transform: translateY(0);
  padding: 20px;
  background-color: var(--white);
}
.products-item-img {
  /* margin-bottom: 36px; */
  margin-bottom: 25px;
}

/* --------------STEPS-------------------- */
.steps {
  padding-top: 30px;
  padding-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
}
.steps-wrap {
  display: flex;
  flex-direction: column;
}
.reviews-wrap {
  text-align: start;
  padding: 20px 14px;
  /* margin-right: 20px; */
}

.steps-title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
  margin-bottom: 32px;
}
.steps-span {
  color: var(--orange);
}
.steps-img {
  margin-bottom: 20px;
}

.steps-subtitle {
  margin-bottom: 20px;
  max-width: 307px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  color: var(--black);
  text-align: start;
}

.steps-list {
  max-width: 307px;
}
.steps-item {
  position: relative;
  margin-bottom: 18px;
}

.steps-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  color: var(--black);
  margin-left: 16px;
}
.steps-text::before {
  position: absolute;
  left: 0;
  /* top: 5px; */
  content: "";
  width: 8px;
  height: 8px;
  background-color: #4c4c4c;
  border: 1px solid #eceded;
  border-radius: 50%;
}
/* --------------reviews-------------------- */
.reviews {
  padding-top: 30px;
  padding-bottom: 60px;
  text-align: center;
}
.reviews-title {
  margin-bottom: 74px;

  font-weight: 600;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  text-align: center;
  color: var(--black);
}

.reviews-span {
  color: var(--orange);
}
.reviews-list {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  margin-bottom: 32px;
  flex-wrap: wrap;
}
.reviews-item-img {
  margin-bottom: 18px;
}

.reviews-item {
  border: 1px solid var(--black);
  width: 100%;
  box-shadow: 0 9px 100px 0 rgba(17, 17, 17, 0.03);
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  padding: 24px;
  position: relative;
  padding-top: 56px;
}
.reviews-icon {
  position: absolute;
  top: 0%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.reviews-card-title {
  margin-bottom: 24px;

  font-weight: 600;
  font-size: 18px;
  line-height: 1.33;
  text-align: center;
  color: var(--black);
}
.reviews-text {
  margin-bottom: 24px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28571;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}
.reviews .btn {
  padding: 14px 40px;

  font-weight: 600;
  font-size: 18px;
  color: var(--black);
  border: 1px solid var(--orange);
  border-radius: 100px;
}
.reviews .btn:hover,
.reviews .btn:focus {
  background-color: var(--orange);
  color: var(--white);
}
/* --------------FOOTER-------------------- */
.footer {
  padding-top: 32px;
  padding-bottom: 32px;
  background-color: var(--violet);
}
.footer-adress-group {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 32px;
}
.footer-wraper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.footer-adress {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 32px;
}
.footer-title {
  margin-bottom: 32px;
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: var(--white);
  max-width: 300px;
}
.footer-span {
  color: var(--orange);
}
.footer-text {
  margin-bottom: 14px;

  font-weight: 500;
  font-size: 14px;
  line-height: 1.28;
  color: var(--white);
}
.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.28;
  letter-spacing: -0.02em;
  text-align: center;
  color: var(--white);
}
.footer-address-link:not(:last-child) {
  margin-bottom: 4px;
}
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--orange);
}
.footer-bottom {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.footer-nav {
}
.footer-list {
  display: flex;
  flex-direction: column;
  gap: 18px;
}
.footer-item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: var(--white);
  padding-bottom: 40px;
  padding-top: 40px;
}
.footer-item:hover,
.footer-item:focus {
  color: var(--orange);
}
.footer-form {
  margin-top: 32px;

  display: flex;
  align-items: center;
}
.footer-label {
  margin-right: 8px;
}
.footer-input {
  width: 207px;
  margin-right: 8px;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.3);
  background-color: transparent;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  border-radius: 30px;
  padding: 13px 24px;
  outline: transparent;
}
.footer-input:hover,
.footer-input:focus {
  border-color: var(--orange);
}
.footer-btn {
  width: 120px;

  padding: 17px 32px;
  background-color: var(--orange);
  color: var(--white);

  font-weight: 600;
  font-size: 14px;
  transition: color 250ms ease-in-out, background-color 250ms ease-in-out,
    borde-color 250ms ease-in-out;
}
.footer-btn:hover,
.footer-btn:focus {
  color: var(--black);
  background-color: var(--hover);
  border-color: var(--orange);
}
/* -------------MODAL---------------- */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
  background-color: #9996967c;
  width: 100%;
  height: 100%;

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  transition: opacity 250ms ease-in-out;
}
/* .is-open {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
} */
.modal {
  background-color: #fafafa;
  padding: 40px;
  width: 517px;
  position: absolute;
  top: 50%;
  left: 50%;
  border-radius: 15px;
  transform: translate(-50%, -50%);
}
.modal-close {
  width: 28px;
  height: 28px;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}
.svg-icon {
  stroke: var(--black);
}
.modal-title {
  text-align: left;
  max-width: 300px;
  font-weight: 600;
  font-size: 24px;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: var(--black);
  margin-bottom: 40px;
}
.modal-title-span {
  color: var(--orange);
}
.input-item {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 18px;
}
.input-label {
  font-weight: 400;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}
.input-border {
  padding-left: 62px;
  padding-right: 16px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  height: 68px;
  background-color: transparent;
  width: 100%;
  outline: transparent;
  transition: 250ms border-color linear;
}
.form-send {
  font-weight: 600;
  font-size: 14px;
  color: var(--white);
  background-color: var(--orange);
  padding: 14px 40px;
}
.input-icon {
  position: relative;
  width: 100%;
}
.input-svg {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #404040;
  fill: transparent;
  transition: 250ms stroke linear;
}

.input-border:focus {
  border: 1px solid var(--orange);
}

.input-border:focus + .input-svg {
  stroke: var(--orange);
}
.modal-textarea {
  width: 100%;
  height: 137px;
  background-color: transparent;
  border: 1px solid rgba(17, 17, 17, 0.05);
  border-radius: 13px;
  padding: 22px 24px;
  color: rgba(64, 64, 64, 0.3);
  font-size: 14px;
  outline: transparent;
  transition: 0.3s border-color linear;
  resize: none;
}
.modal-textarea:focus {
  border-color: var(--orange);
}
.modal-checkbox {
  margin-bottom: 41px;
  margin-top: 21px;
}
.input-checkbox:checked + .checkbox-label > .modal-check {
  background-color: var(--orange);
  border: none;
  fill: var(--white);
}
.checkbox-label {
  font-size: 14px;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
  display: flex;
  align-items: center;
}
.modal-check {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  margin-right: 12px;
  background-color: transparent;
  fill: transparent;
  transition: background-color 250ms ease-in-out, border-color 250ms ease-in-out,
    fill 250ms ease-in-out;
}
.checkbox-label-link {
  color: var(--orange);
  text-decoration: underline;
}
/* -------------MEDIA--------------- */
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
    padding-left: 32px;
    padding-right: 32px;
  }
  .advantages {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .advantages-list {
    gap: 32px;
  }
  .advantages-item {
    width: calc((100% - 32px) / 2);
  }
  .products {
    padding-top: 80px;
    padding-bottom: 40px;
  }
  .products-title {
    max-width: 410px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.16;
  }
  .products-list {
    flex-direction: row;
    gap: 30px 19px;
    justify-content: center;
  }
  .products-item {
    flex-basis: calc((100% - 64px) / 2);
  }
  .steps {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .steps > .container {
    width: 678px;
  }
  .steps-wrap {
    width: 100%;
  }
  .steps-title {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }
  .reviews {
    padding-top: 40px;
    padding-bottom: 80px;
  }
  .reviews-title {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 1.16;
  }
  .reviews-list {
    gap: 60px 16px;
    justify-content: center;
  }
  .reviews-item {
    flex-basis: calc((100% - 16px) / 2);
  }
  .footer {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .footer-adress-group {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 54px;
    align-items: center;
  }

  .footer-title {
    font-size: 28px;
    line-height: 1.21;
  }
  .footer-bottom {
    flex-direction: row;
    align-items: center;
  }
  .footer-list {
    gap: 24px;
  }
  .footer-input {
    font-size: 18px;
  }
}

@media screen and (min-width: 1166px) {
  .container,
  .steps > .container {
    width: 1166px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .advantages-list {
    gap: 70px;
  }
  .advantages-item {
    width: calc((100% - 140px) / 3);
    padding-right: unset;
  }

  .products-item {
    flex-basis: calc((100% - 3 * 19px) / 4);
    align-items: flex-start;
  }
  .steps {
    padding-top: 50px;
    padding-bottom: 50px;
  }
  .steps-wrap {
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
  }
  .steps-title {
    margin-bottom: 50px;

    font-size: 24px;
    line-height: 1.16;
  }
  .steps-subtitle {
    margin-bottom: 28px;
    max-width: 350px;
  }
  .steps-list {
    max-width: 452px;
  }
  .reviews {
    padding-top: 50px;
    padding-bottom: 100px;
  }
  .reviews-title {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 1.16;
  }
  .reviews-list {
    gap: 28px;
    margin-bottom: 49px;
  }
  .reviews-item {
    flex-basis: calc((100% - 56px) / 3);
  }
}
